[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hyz0906
[access "refs/for/refs/*"]
	read = group user/hyz0906
	push = group user/hyz0906
	label-Code-Review = -2..+2 group user/hyz0906
	label-Verified = -1..+1 group user/hyz0906
	rebase = group user/hyz0906
	removeReviewer = group user/hyz0906
	submit = group user/hyz0906
[access "refs/heads/*"]
	read = group user/hyz0906
	create = group user/hyz0906
	push = +force group user/hyz0906
	pushMerge = group user/hyz0906
[access "refs/tags/*"]
	push = +force group user/hyz0906
	pushTag = group user/hyz0906
	pushSignedTag = group user/hyz0906
